#title {
    display:block;
    margin: 0 auto;
    font-family: roboto, sans-serif;
    padding-left: 20px;
    text-align: center;
}
body{
    background-color: rgb(240, 240, 240);
}
.my-row {
    justify-content: stretch;
}
.my-col {
    align-self: stretch;
}
.button-row {
    justify-content: stretch;
    padding: 0;
}
.button-col {
    align-self: stretch;
    padding: 0;
}

#info {
    background-color: rgb(180, 179, 179);
    color: white;
}
#whereto {
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-size: 18px;
}
#selectCountry {
    display: block;
    margin: 15px auto;
}
#mapid {
    height:700px;
}
@media screen and (max-width: 390px){
    #title {
        font-family: roboto, sans-serif;
        padding-left: 20px;
        padding-top: 15px;
        display: block;
    }
}
@media screen and (max-width: 575px) and (max-height: 736px){
    #title {
        font-family: roboto, sans-serif;
        padding-left: 20px;
        padding-top: 15px;
        display: block;
    }
    #selectCountry {
        width: 150px;
        margin: 5px auto;
    }
    #mapid {
        height: 580px;
    }
    #whereto {
        margin-top:0;
    }

}
@media screen and (max-width: 414px) and (max-height: 731px){
    #title {
        font-family: roboto, sans-serif;
        padding-left: 20px;
        padding-top: 15px;
        display: block;
    }
    #selectCountry {
        width: 150px;
    }
    #mapid {
        height: 672px;
    }
    #whereto {
        margin-top: 0;
    }
}
@media screen and (min-width: 576px){
    #mapid { height: 700px; }
}
@media screen and (min-width: 768px){
    #mapid { height: 500px; }
}
@media screen and (min-width: 922px){
    #mapid { height: 700px; }
}
@media screen and (min-width: 1200px){
    #mapid { height: 700px; }
}

.mapbox {
    position: relative;
}

.mapbox .overlay {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: initial;
}

.mapbox .overlay .btn {
    pointer-events: initial;
}
.dropdown-menu {
    width: auto;
}
#overlay {
    text-align: center;
    max-width: 20%;
    height: 100%;
    border: 3px solid black;
};

#flag {
    width: 80%;
    height:auto
}

#collapseExample {
    z-index: 314159;
}

#collapseOne, #dropdownMenu2 {
    position: block;
    background-color: #444444;
    border: 3px solid #777777;
    color: white;
    width: 100%;
}

#headingOne, #headingTwo, #headingThree {
    background-color: white;
    border: 3px solid #444444;
    
    
    
    height: auto;

}

#btn1, #btn2, #btn3 {
    color: black;
    height: auto;

}

