.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 700px;
    z-index: 9999;
    background-image: url("../images/globe.gif");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-color:  rgb(248, 248, 248);
    display: block;
}
.loadingText {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60%;
    margin: 0 auto;
    color: black;
    background-color: transparent;
}
.modal{
    z-index: 3001;
}

#title {
    display:block;
    margin: 0 auto;
    font-family: Arvo, serif;
    padding-left: 20px;
    text-align: center;
}
body{
    background-color: rgb(240, 240, 240);
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}
th{
    font-weight: bold;
}
.tooltipText{
    font-family: Roboto,sans-serif;
    font-weight: lighter;
    max-width: 300px;
}
.my-row {
    justify-content: stretch;
}
.my-col {
    align-self: stretch;
}
.button-row {
    justify-content: stretch;
    padding: 0;
}
.button-col {
    align-self: stretch;
    padding: 0;
}
.mapbox-fluid {
    position: relative;
}
.weather {
    position: absolute;
    z-index: 3000;
    bottom: 3px;
    left: 3px;
    width: 200px;
    height: auto;
    background: white;
    opacity: 0.8;
    border: 3px solid #666666;
    box-shadow: 3px 3px #999999;
}
#weatherIcon{
    width: 70px;
    height: 70px;
}
#weatherTemp{
    font-size: 3em;
}
#weatherName{
    padding-top:3px;
}
#weatherDesc{
    text-transform: capitalize;
}
#info {
    background-color: rgb(180, 179, 179);
    color: white;
}
#whereto {
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
}
#selectCountry {
    display: block;
    margin: 15px auto;
    font-weight: lighter;
}
#mapid {
    height:700px;
}
@media screen and (max-width: 390px){
    #title {
        padding-left: 20px;
        padding-top: 15px;
        display: block;
    }
}
@media screen and (max-width: 575px) and (max-height: 736px){
    #title {
        padding-left: 20px;
        padding-top: 15px;
        display: block;
    }
    #selectCountry {
        width: 150px;
        margin: 5px auto;
    }
    #mapid {
        height: 580px;
    }
    #whereto {
        margin-top:0;
    }

}
@media screen and (max-width: 414px) and (max-height: 731px){
    #title {
        padding-left: 20px;
        padding-top: 15px;
        display: block;
    }
    #selectCountry {
        width: 150px;
    }
    #mapid {
        height: 672px;
    }
    #whereto {
        margin-top: 0;
    }
}
@media screen and (min-width: 576px){
    #mapid { height: 700px; }
}
@media screen and (min-width: 768px){
    #mapid { height: 500px; }
}
@media screen and (min-width: 922px){
    #mapid { height: 700px; }
}
@media screen and (min-width: 1200px){
    #mapid { height: 700px; }
}

.dropdown-menu {
    width: auto;
}

#flag {
    width: 100%;
    height:auto;
}

#collapseOne, #dropdownMenu2 {
    position: block;
    background-color: #444444;
    border-top: 3px solid #777777;
    border-right: 0px;
    border-left:0px;
    border-bottom: 3px solid #777777;
    border-radius:0px;
    color: white;
    width: 100%;
    font-weight:lighter;
    box-shadow: none;
}

#collapseOne:hover, #dropdownMenu2:hover {
    text-decoration: underline;
}



